/* 전체 바디 스타일링 */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  
}

/*네비게이션 바 스타일링 */


/* 네비게이션 메뉴 스타일링 */
.nav{
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 10px;
  display: flex;
  /*space-around아이템들 둘레에 균일한 간격 생성*/
  justify-content: space-around ;
  background-color: black;
}



/* 링크 스타일링 */
a {
  font-size: 20px;
  color: #f3f3f3;
  text-decoration: none;
}


/* 제목 스타일링 */
.제목{
  text-align: center;
  font-size: 20pt;
}


.asibal{
  color: rgb(0, 0, 0);
  font-size: 25px;
  position:absolute;
  right:20px;
  display: none; 
}

.푸터nav {
  display: flex;
  background-color: black;
  width: 100%;
  position: fixed;
  bottom: 0;
  list-style: none;
  margin: 0;
  padding:10px;
  justify-content: space-around ;
  /* 수평 가운데 정렬을 위해 추가 */
}

.il2{
  
}



/* 미디어쿼리 스타일링 */
@media screen and (max-width:780px){
  .asibal{
      display: block;
      transform: translatey(-170%);
  }
  /* 네비게이션 메뉴를 세로로 정렬하고, 중앙 정렬 */
  .nav{
      flex-direction: column;
      /*display:none;*/
  } 

  .il:hover {
    background-color: rgb(0, 255, 72);
    transition: 0.5s;
  }

  .푸터nav {
  display: flex;
  flex-direction: column;
  text-align: end;
  } 

  .il2{
    margin-right: 20px;
  }
  .il2:hover{
   margin-right: 30px;
  }

}



