.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열을 만듭니다. */
    background-color: #ddd;
    padding : 50;
    
  }
  
  
  .지역 {
    text-align: center;
    padding-top: 20;
    font-size: 30;
}