<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./main2.css">
	<title>그리드</title>
	<div class="head">과제입니덩!</div>
</head>
<body>
	<div class="grid-container">
		<div class="item">Product</div>
		<div class="item">Product</div>
		<div class="item">Product</div>
		<div class="item">Product</div>
		<div class="item">Product</div>
		<div class="item">Product</div>
		<div class="item">Product</div>
		<div class="item">Product</div>
		<div class="item">Product</div>
		<div class="item">Product</div>
		<div class="item">Product</div>
		<div class="item">Product</div>
	</div>
</body>
</html>