<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main1.css">
    <script src="https://kit.fontawesome.com/3f28950707.js" crossorigin="anonymous"></script>
    <title>Hello World</title>
</head>
<script defer src="./main.js"></script>
<body>
    <h1 class = "제목">main</h1>
    <nav class = "navbar" >
        <a class = "asibal" href="#"><i class="fa-solid fa-bars"></i></a>
        <ul class = "nav">
            <li class = "il"><a href="#">menu1</a></li>
            <li class = "il"><a href="#">menu2</a></li>
            <li class = "il"><a href="#">menu3</a></li>
            <li class = "il"><a href="#">menu4</a></li>
            <li class = "il"><a href="#">menu5</a></li>
            <li class = "il"><a href="#">menu6</a></li>
        </ul>
    </nav>   
</body>
</html>